<%= render "shared/nav" %>
<div class="container">
  <h2>Storage Section</h2>
  <%= will_paginate @categories,renderer: BootstrapPagination::Rails %>

  <table class = "table table-bordered">
    <thead>
      <tr class="bg-info">
        <th>Category ID</th>
        <th>Name</th>
        <th>Items</th>
        <th>Quantity</th>
      </tr>
    </thead>

    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.id %></td>
          <td><%= category.name %></td>
          <td>
            <% if category.items.count >= 1 %>
              <% category.items.each do |cat_item| %>
                <%= cat_item.name %><br>
              <% end %>
            <% end %>
          </td>
          <td><%= category.items.count %>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>