<div class="container">
  <%= bootstrap_form_for(@issue) do |f| %>
    <%= f.text_field :details, label: "Details :" %><br />
    <%= f.collection_select(:item_id, Item.all, :id, :name, {:prompt => 'Select the item'} ) %><br />
    <%= f.collection_select(:user_id, User.all, :id, :name, {:prompt => 'Select the iuser'} ) %><br />
    <%= f.check_box :status, label: "Solved?" %><br />
    <%= f.submit %>
  <% end %>
</div>