<%= render "shared/nav" %>

<div class="container">
<%= render "shared/errors", obj: @user %>
  <%= bootstrap_form_for(@user) do |f| %>
    <%= f.text_field :name, label: "Name :" %><br />
    <%= f.email_field :email, label: "Email :" %><br />
    <% if @user.is_admin == false %>
      <%= f.check_box :is_admin, label: "Admin?" %><br />
    <% end %>
    
    <%= f.submit %>
  <% end %>
</div>